
#classic{
    background-image: url('../../images/classic.jpg') ;
    background-repeat: no-repeat ;
    background-size: 100% 100%;
    scale: 0.55;
    border-radius: 50px 25px;
    margin-bottom: 5%;
    
}

#classic:hover{
    background-image: url('../../images/classic.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    scale: 0.55;
    border-radius: 50px 25px;
    margin-bottom: 5%;
}

#custom{
    background-image: url('../../images/custom.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    scale: 0.55;
    border-radius: 50px 25px;
    margin-bottom: 5%;
}

#custom:hover{
    background-image: url('../../images/custom.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    scale: 0.55;
    border-radius: 50px 25px;
    margin-bottom: 5%;
}

#bodybox {
    height: calc(100vh - 180px);
    background-image: url("https://img.freepik.com/free-vector/technological-design-background_23-2148497493.jpg?w=2000&t=st=1663676320~exp=1663676920~hmac=386f87170f19cae3229bb40858d57d0ac3a9a6f42eb5c70bac25913b0cf6a788");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.modalityName{
    color: white;
    font-size: 65px;
    font-family: MyWebFont;
}

.row{
    height: 100%;
    display: flex;
    justify-content: center;
}