.container-message {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 5px auto 5px;
    width: 80%;
    scale: 0.92
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }
  
  /* Clear floats */
  .container-message::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Style images */
  .container-message img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  /* Style the right image */
  .container-message img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
    scale: 0.8
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
    scale: 0.8
  }

  p{
    text-align: left;
  }